@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
html,
body {
  display: block;
  margin: auto;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  width: 90vw;
  line-height: 1.5;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 62.5%;
  background-color: black;
  color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.cards {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1rem;
}
@media only screen and (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media only screen and (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.cards .card {
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 2rem;
  background-color: #1a1a1b;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  /* margin: 1rem; */
  /* max-width: 450px;
  max-height: 450px; */
}
.bordered {
  border-style: solid;
  border-width: 2px;
  border-color: grey;
}
.bordered:hover {
  border-color: white;
}

.loader {
  max-width: 100px;
  max-height: 100px;
}
