html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  width: 100%;
  line-height: 1.5;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 62.5%;
  background-color: black;
  /* overflow-y: scroll; */
  -ms-overflow-style: none;
  /* scrollbar-width: none; */
  color: white;
  align-items: center;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 2rem;
  background-color: #1a1a1b;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  max-height: 270px;
  max-width: 480px;
  min-height: 270px;
  min-width: 480px;
}
.bordered {
  border-style: solid;
  border-width: 2px;
  border-color: grey;
}
.bordered:hover {
  border-color: white;
}
.caption {
  color: white;
  font-size: 2rem;
  max-height: 32px;
}

.image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  top: 32px;
  left: 20px;
  max-width: 400px;
  max-height: 225px;
  /* min-width: 400px;
  min-height: 225px; */
}
.loader {
  max-width: 100px;
  max-height: 100px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-main {
  position: fixed;
  background: #1a1a1b;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  padding: 50px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.modal-button {
  position: fixed;
  top: 10px;
  right: 10px;
}
